#!/usr/bin/make -f

LIBPYTHON ?= %%PYTHON%%
override_dh_shlibdeps:
	dh_shlibdeps -l/home/mycroft/mycroft-desktop-deb/mycroft-core/src/mycroft-core/debian/mycroft-core/opt/venvs/mycroft-core/lib/$(LIBPYTHON)/site-packages/PIL/.libs:/usr/lib/aarch64-linux-gnu -Xx86_64 -Xflac-

override_dh_strip:
	dh_strip --exclude=PIL --exclude="flac-" --exclude "x86_64-linux-gnu.so"
	# if arch is armhf the flac-* files in the virtualenv could be deleted
	# to save ~5.5 MB in the package

override_dh_virtualenv:
	dh_virtualenv --upgrade-pip --extra-pip-arg "--no-cache-dir" --python /usr/bin/python3

%:
	dh $@ --with python-virtualenv --python /usr/bin/python3
