[Unit]
Description=Mycroft Messagebus
PartOf=mycroft.service
After=mycroft.service

[Service]
User=mycroft
Type=notify
WorkingDirectory=/opt/mycroft/
Environment=PYTHONUNBUFFERED=1
# Hard code runtime dir to connect to Pulse audio
Environment="XDG_RUNTIME_DIR=/run/user/32011"
ExecStart=/opt/venvs/mycroft-core/bin/python /usr/share/mycroft-systemd/messagebus.py
StandardOutput=append:/var/log/mycroft/bus.log
StandardError=file:/var/log/mycroft/bus.error.log
TimeoutStartSec=1m
TimeoutStopSec=1m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
#StartLimitAction=reboot-force

[Install]
WantedBy=mycroft.service
