[Unit]
Description=Mycroft Skills
PartOf=mycroft.service
After=mycroft.service
After=mycroft-messagebus.service
Wants=mycroft-messagebus.service
After=network-online.target
Wants=notwork-online.target

[Service]
User=mycroft
Type=notify
WorkingDirectory=/opt/mycroft/
Environment=PYTHONUNBUFFERED=1
# Hard code runtime dir to connect to Pulse audio
Environment="XDG_RUNTIME_DIR=/run/user/32011"
ExecStart=/opt/venvs/mycroft-core/bin/python /usr/share/mycroft-systemd/skills.py
StandardOutput=append:/var/log/mycroft/skills.log
StandardError=append:/var/log/mycroft/skills.error.log
TimeoutStartSec=2m
TimeoutStopSec=1m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
#WatchdogSec=2m

[Install]
WantedBy=mycroft.service
