Package: mycroft-mark-2
Version: 0.1
Architecture: all
Maintainer: Åke Forslund <ake.forslund@gmail.com>
Installed-Size: 12
Depends: mycroft-core
Section: main
Priority: optional
Homepage: https://github.com/forslund/mycroft-desktop-deb
Description: Mycroft Mark 2 System
 Startup files for Mycroft Mark 2.
